---
import twitterImage from 'images/twitter.jpg'
export function getStaticPaths() {
  return [
    { params: {slug: 'test-url'} }
  ];
}

const { slug } = Astro.params
---

<p>This is some top level slug test</p>

<img src={twitterImage} alt="twitter" />
<div>nothing found here { slug }</div>
