---
import BaseLayout from '~/layouts/BaseLayout.astro'
---

<BaseLayout>
  <p>Hello, it's me: kissu!</p>
</BaseLayout>

<style>
  p {
    color: hsl(0deg, 0%, 100%);
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
</style>
